$blue: #1967d2;
$lightblue: #4785db;
$blueWhite:#e7edf9;
$lighttext:rgb(117, 117, 117);
$border:rgb(224, 238, 247);

header {
    background: #fff;
}
.blogs { 
    .row {
        margin-top: 60px;
    }
    .title {
        text-align: center;
        background: #f5f7fc;
        padding: 50px 0;
        h3 {
            font-size: 30px;
        }
        p {
            font-size: 15px;
        }
        span {
            font-weight: normal;
        }
    }
    &-item {
        background: #fff;
        padding: 20px;
        border-radius: 5px;
        border: 1px solid $blueWhite;
        margin-bottom: 30px;
        &:hover {
            cursor: pointer;
            img {
                transform: scale(1.06);
            }
        }
    }
}

.page-number {
    margin-top: 40px;
}
.pagination {
    justify-content: center;
    .page-item {
        margin: 0 10px;
        &:hover {
            .page-link {
                background: $blue;
                color: #fff;
            }
        }
        .page-link {
            padding: 11px 20px;
            border-radius: 50%;
        }
    }
}

.blog-search {
    padding: 30px 20px 60px;
    background: #f5f7fc;
    h5 {
        font-size: 18px;
        margin-bottom: 20px;
    }
    li {
        font-size: 15px;
        margin: 10px 0;
        a {
            font-weight: 500;
            color: $lighttext;
            text-decoration: none;
        }
    }
    .bgr-white {
        background: #fff;
        padding: 12px 15px;
        margin-bottom: 30px;
        input {
            outline: #fff;
            border: #fff;
            font-size: 15px;
            color: $lighttext;
        }

    }
    .post {
        display: flex;
        margin: 20px 0;
        img {
            width: 75px;
            border-radius: 10px;
        }
        &-title {
            padding: 10px 15px 0;
            h6 {
                font-size: 15px;
            }
            p {
                font-size: 14px;
                font-weight: 400;
                color: $lighttext;
            }
        }
    }
    .tag-btn {
        padding: 6px 20px;
        margin:40px 0;
        margin-right: 6px;
        font-size: 14px;
        color: $lighttext;
        background: #fff;
        border-radius: 4px;
        text-decoration: none;
        transition: all 0.3s;
        &:hover {
            background: #262626;
            color: #fff;
        }
    }
    .margin-bot {
        margin-bottom: 20px;
    }
}
