$blue: #1967d2;
$lightblue: #4785db;
$blueWhite:#e7edf9;
$lighttext:rgb(117, 117, 117);
$border:rgb(224, 238, 247);
.jobs-img {
    width: 15%;
    img {
        width: 100%;
        border-radius: 50%;
    }
}
.jobs:hover {
    .profile {
        a {
            background: $blue;
            color: #fff;
        }
    }
    .jobs-bookmark {
        opacity: 1;
    }
}
.jobs-text {
    width: 60%;
    padding-top: 10px;
    .hover-blue {
        color: black;
        &:hover {
            color: $blue;  
            text-decoration: none;
        }
    }
    .mini-text {
        a {
            font-size: 14px;
        }
        .hover-black:hover {
            color: black !important;
            text-decoration: none;
        }
    }
    .candi-btn {
        padding: 6px 20px;
        margin-right: 6px;
        background: $blueWhite;
        color: $lighttext;
        font-size: 14px;
        border-radius: 30px;
        &:hover {
            background: #262626;
            color: #fff !important;
            text-decoration: none;
        }
    }
}
.profile {
    width: 25%;
    text-align: right;
    padding-top: 40px;
    a {
        padding: 15px 30px;
        background: $blueWhite;
        color: $blue;
        border-radius: 10px;
        text-decoration: none;
        transition: all 0.3s;
    }
}
.jobs-bookmark {
    position: absolute;
    top: 10px;
    right: 5px;
    opacity: 0;
    transition: all 0.3s;
}
.text-padding {
    padding-top: 20px;
}

.page-number {
    margin-top: 40px;
}
.pagination {
    justify-content: center;
    .page-item {
        margin: 0 10px;
        &:hover {
            .page-link {
                background: $blue;
                color: #fff;
            }
        }
        .page-link {
            padding: 14px 20px;
            border-radius: 50%;
        }
    }
}