header {
  background: #fff;
}

.employer .title {
  text-align: center;
  background: #f5f7fc;
  padding: 50px 0;
}

.employer .title h3 {
  font-size: 30px;
}

.employer .title p {
  font-size: 15px;
}

.employer .title span {
  font-weight: normal;
}

.employer .employer__content {
  margin: 60px auto;
}

.employer .bgr {
  background: #fff;
  padding: 5px;
  border-radius: 10px;
}

.employer .bgr input {
  padding: 10px;
  border: #fff;
  outline: #fff;
}

.employer .drop .btn {
  width: 100%;
  text-align: left;
  color: #757575;
  background: #fff;
  padding: 10px;
}

.employer .drop .dropdown-toggle::after {
  float: right;
  margin-top: 10px;
}

.content-left {
  background: #f5f7fc;
  padding: 40px;
  line-height: 2;
}

.content-left label {
  font-size: 18px;
  font-weight: 500;
}

.content-left .date {
  margin-bottom: 40px;
}

.content-left .date #amount {
  outline: #463f3f;
  border: #fff;
  color: #757575;
}

.content-left .date .ui-widget {
  font-size: 0.5rem;
}

.content-left .date .ui-widget-header {
  background: #1967d2;
}

.content-left .date .ui-slider-handle {
  margin-top: -0.1rem;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #4785db;
}

.employer__content-right .brands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #e0eef7;
  border-radius: 10px;
  padding: 30px;
  margin: 15px;
  position: relative;
}

.employer__content-right .brands:hover .brand-btn {
  background: #1967d2;
  color: #fff;
}

.employer__content-right .brands:hover .jobs-bookmark {
  opacity: 1;
}

.employer__content-right .brands-logo {
  width: 15%;
}

.employer__content-right .brands-logo img {
  width: 95px;
  border-radius: 50%;
  height: auto;
}

.employer__content-right .brands-text {
  width: 60%;
  padding: 15px 15px 0;
}

.employer__content-right .brands-text a {
  font-size: 18px;
  text-decoration: none;
  color: black;
}

.employer__content-right .brands-text a:hover {
  color: #4785db;
}

.employer__content-right .brands-text .mini-text {
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #757575;
}

.employer__content-right .brands-text .mini-text i {
  margin-right: 10px;
}

.employer__content-right .brands-text .mini-text p {
  font-size: 14px;
}

.employer__content-right .brands-btn {
  padding: 30px 0;
  width: 25%;
  text-align: right;
}

.employer__content-right .brands-btn .brand-btn {
  padding: 8px 20px;
  background: #e7edf9;
  border-radius: 20px;
  text-decoration: none;
  font-size: 13px !important;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.employer__content-right .brands .jobs-bookmark {
  position: absolute;
  right: 5px;
  top: 10px;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.employer__content-right .page-number {
  margin-top: 40px;
}

.employer__content-right .pagination {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.employer__content-right .pagination .page-item {
  margin: 0 10px;
}

.employer__content-right .pagination .page-item:hover .page-link {
  background: #1967d2;
  color: #fff;
}

.employer__content-right .pagination .page-item .page-link {
  padding: 12px 20px;
  border-radius: 50%;
}
/*# sourceMappingURL=employers.css.map */