* {
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 500;
}
$blue: #1967d2;
$lightblue: #4785db;
$blueWhite:#e7edf9;
$lighttext:rgb(117, 117, 117);
$border:rgb(224, 238, 247);
.container {
    max-width: 1280px;
    margin: auto;
}
.container-fluid {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

.title {
    background: #f3f6fb;
    text-align: center;
    padding: 30px 0;
    h3 {
        font-weight: 500;
        font-size: 30px;
    }
    span {
        color: $lighttext;
    }
}

.list-v1 {
    margin: 30px auto;
    &__left {
        background: #f5f7fc;
        padding: 20px;
        line-height: 2;
        
    }
    .col-4 {
        i {
            margin-right: 10px;

        }
        label {
            font-weight: 600;
        }
        input {
            border: #fff;
            padding:5px 20px;
            outline:#fff;
            margin-right: 20px;
        }
        .bgr {
            background: #fff;
            padding: 20px;
            border-radius: 10px;
            span {
                display: inline-block;
                width: 15px;
                height: 15px;
                border: 5px solid #83aae0;
                border-radius: 50%;
                transition: all 0.3s;
                float: right;
            }
            span:hover {
                border:5px solid $lightblue ;
                cursor: pointer;
            }
        }
    }
}
.slidecontainer {
    p {
        color: $lightblue;
    }
    input {
        width: 100%;
    }
}
.drop {
    margin-bottom: 40px;
    .dropdown {
        .btn {
            width: 100%;
            text-align: left;
            color: $lighttext;
            background:none;
        }
        &-menu {
            width: 100%;
            height: 200px;
            overflow: scroll;
        }
        &-item {
            color: $lighttext;
            
            &:hover {
                color: black;
            }
        }
        .dropdown-toggle::after {
            float: right;
            margin-top: 10px;
        }
    }
}

.heading {
    font-size: 18px;
    font-weight: 600;
}
.jobType {
    li {
        list-style-type: none;
        color: $lighttext;
        margin: 10px 0;
        label {
            font-weight: 500 !important;
        }
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 20px;
    margin: 0 10px 0 0;
    
    
    input { 
        opacity: 0;
        width: 0;
        height: 0;
    }
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s; 
    &::before {
        position: absolute;
        content: "";
        height: 12px;
        width: 12px;
        left: 4px;
        bottom: 4px;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }
}
.round {
    border-radius: 34px;
    &::before {
        border-radius: 50%;
    }
}
input:checked + .slider {
background-color: #2196F3;
}
  
input:focus + .slider {
box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
    transform: translateX(26px);
    background: #fff;
}

.exper {
    li {
        list-style-type: none;
        margin: 10px 0;
        :last-child {
            color: $lighttext;
            font-weight: 500;
        }
    }
}
  
.btn-main {
    padding: 15px 100px;
    background: $blue;
    color: #fff;
    border-radius: 10px;
    text-decoration: none;
    transition: all 0.3s;
    &:hover {
        background: #fff;
        color: $lightblue;
        border: 1px solid $lightblue;
        text-decoration: none;
    }
}
.save {
    margin-top: 40px;
    label {
        font-weight: 500 !important;
    }
    input {
        display: block;
        width: 100%;
        border-color: $lightblue;
    }
}                       // css content left


.product-header {
    display: flex;
    justify-content: space-between;
    .dropdown {
        display: inline-block;
        .btn-secondary {
            background: #f0f5f7;
            border: #f0f5f7;
            color: #757575;
            border-radius: 5px;
            outline: 1px solid $lightblue
            
        }
        .btn-width150 {
            width: 150px;
            text-align: left;
        }
        .dropdown-toggle::after {
            float: right;
            margin-top: 10px;
        }
    }
}

.jobs {
    display: flex;
    border: 1px solid $border;
    border-radius: 10px;
    padding: 30px;
    margin: 15px;
    position: relative;
    &-img {
        width: 10%;
        margin-right: 20px;
        img {
            width: 52px;
        } 
    }
    &-text {
        width:90%
    }
    div:hover {
        cursor: pointer;
    }
}
.jobs-text {
    text-align: left;
    a {
        font-size: 18px;
        transition: all 0.3s;
    }
    span {
        font-size: 13px;
        color: rgb(50, 145, 63);
    }
    a:hover {
        color: $lightblue !important;

    }
    .jobs-btn {
        padding: 3px 20px;
        background: $blueWhite;
        border-radius: 20px;
        text-decoration: none;
        font-size: 13px !important;
        &:hover {
            text-decoration: none;
        }
    }
    .btn-orange {
        color: #F9AB00;
        background: rgba(249,171,0,0.15);
        &:hover {
            color: #F9AB00 !important;
        }
    }
}
.mini-text {
    div {
        display: inline-block;
        margin-right: 20px;
        p {
            display: inline-block;
            margin-left: 10px;
            color: $lighttext;
            font-size: 14px;
        }
    }

}

.jobs-bookmark {
    width: 40px;
    height: 35px;
    text-align: center;
    transition: all 0.3s;
    border: 1px solid #fff;
    border-radius: 50%;
    img {
        margin-top: 5px;
    }
    &:hover {
        background: $blueWhite; 
        border: 1px solid $border;
    }
}





